                @media (max-width:1919px) {
                  :root {
                    --gap_left: 50px;
                    --gap_right: 50px;
                    --pad_gap_14: 26px;
                    --gap_section_bootom: 40px;
                    --holst: 100vw;
                  }
                  .showClose{
                    display: block;
                    background-image: url('../img/X.svg');
                   }
                   .showClose:focus-visible{
                    outline: 1px solid red;
                    outline-offset:  2px;
                   }
                  /* .header__nav {
                    display: none;
                  } */

                  .header__nav {
                    position: absolute;
                    left: -900px;
                    top: 0;
                    width: 50%;
                    min-width: 420px;
                    height: 808px;
                    z-index: 1000;
                    padding: 50px;
                    box-shadow: 0 0 5px #888;
                    background-color: #fff;
                    overflow-y: auto;
                    visibility: hidden;
                    transform: translateX(-120%);
                    border-bottom-left-radius: 15px;
                    border-bottom-right-radius: 15px;
                    transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
                  }

                  .header__nav .nav__list {
                    flex-direction: column;
                  }

                  .header__nav .nav__item:not(:last-child) {
                    margin-right: 0;
                    margin-bottom: 30px;
                  }

                  .header__nav .header__link {
                    font-size: 18px;
                  }

                  .header__nav--active {
                    left:0;
                    visibility: visible;
                    transform: none;
                  }

                  /* .header__nav--active::before {
                    content: url('../img/X.svg');

                  } */

                  .header__nav--active ul {
                    margin-top: 107px;
                  }


                  /* .burger--active .burger__line:nth-child(2) {
                    opacity: 0;
                  }

                  .burger--active .burger__line:nth-child(1) {
                    left: 25%;
                    top: 50%;
                    transform: rotate(45deg);
                    transform-origin: center;
                    transition: transform 0.3s ease-in-out, left 0.3s ease-in-out, top 0.3s ease-in-out;
                  }

                  .burger--active .burger__line:nth-child(3) {
                    bottom: auto;
                    left: 25%;
                    top: 50%;
                    transform: rotate(-45deg);
                    transform-origin: center;
                    transition: transform 0.3s ease-in-out, left 0.3s ease-in-out, top 0.3s ease-in-out;
                  } */

                  .stop-scroll {
                    overflow: hidden;
                  }

                  .header__link-logo svg {
                    width: 150px;
                    height: 48px;
                  }

                  .header__search svg {
                    width: 22px;
                    height: 22px;
                  }

                  .burger {
                    display: block;
                    position: relative;
                    width: 30px;
                    height: 23px;
                    transition: outline 0.3s ease-in-out, color 0.3s ease-in-out, top 0.3s ease-in-out, bottom 0.3s ease-in-out, transform 0.3s ease-in-out;
                  }

                  .burger:focus-visible {
                    outline: 2px solid #FF9900;
                    outline-offset: 3px;
                  }

                  .burger:active {
                    outline: none;
                  }

                  .burger__line {
                    position: absolute;
                    left: 50%;
                    width: 30px;
                    height: 3px;
                    background-color: var(--color_black);
                    transform: translateX(-50%);
                  }

                  .burger__line:nth-child(1) {
                    top: 0;
                  }

                  .burger:active .burger__line:nth-child(1) {
                    background-color: #E1670E;
                  }

                  .burger__line:nth-child(2) {
                    top: 50%;
                    transform: translate(-50%, -50%);
                    transform-origin: center;
                  }

                  .burger:active .burger__line:nth-child(2) {
                    background-color: #E1670E;
                    width: 25px;
                    transform: translate(-42%, -50%)
                  }

                  .burger__line:nth-child(3) {
                    bottom: 0;
                  }

                  .burger:active .burger__line:nth-child(3) {
                    background-color: #E1670E;
                    width: 18px;
                    transform: translate(-19%, -50%)
                  }

                  .header__right {
                    display: block;
                    flex-grow: 0;
                    margin: 0;
                    padding: 0;
                  }

                  .header__search {
                    padding: 0;
                    margin: 0;
                  }

                  /* .header__nav {
                    display: none;
                  } */

                  .hero__conteiner {
                    padding: 75px 50px;
                  }

                  .hero__text {
                    max-width: 100%;
                    padding: 162px 78px;
                  }

                  .swiper-pagination {
                    margin-bottom: 17px;
                  }

                  .hero__title {
                    font-size: 60px;
                    line-height: 73px;
                    padding-bottom: 16px;
                  }

                  .hero__conteiner {
                    margin-bottom: 40px;
                  }

                  .hero__title-descr {
                    font-size: 20px;
                    line-height: 24px;
                    padding-bottom: 60px;
                  }

                  .hero__btn {
                    margin-bottom: 0;
                  }

                  .about__conteiner {
                    padding: 9px 0px;
                    margin-top: -25px;
                  }

                  .about {
                    max-width: 100%;
                  }

                  .about__text {
                    max-width: 100%;
                  }

                  .about__title-descr {
                    padding-bottom: 60px;
                  }

                  .about__section-wrap {
                    flex-direction: column;
                  }

                  .about__section-wrap-left {
                    flex-basis: 640px;
                    margin-bottom: 32px;
                    margin-right: 0;
                  }

                  .about__section-wrap-right-top {
                    margin-bottom: 32px;
                  }

                  .about__section-wrap-right {
                    margin-left: 0;
                  }

                  .how__conteiner {
                    margin-top: -15px;
                    padding: 6px 0;
                  }

                  .how__steps__img {
                    width: 437px;
                    /* height: 100%; */
                  }

                  .how__steps__picture {
                    height: 100%;
                  }

                  .how__steps__desr {
                    max-width: 50%;
                  }

                  .how__steps__descr__text {
                    margin-bottom: 25px;
                  }

                  .fac__conteiner {
                    padding-left: 0px;
                  }

                  .fac__conteiner {
                    margin-bottom: calc(var(--gap_section_bootom) * 2 - -8px);
                  }

                  .footer__conteiner {
                    padding: var(--pad_gap_section_50) 40px;
                  }

                  .footer__link-logo {

                    padding-bottom: 14px;
                  }

                  .fac__item__query {
                    font-size: 20px;
                    line-height: 160%;
                    letter-spacing: 1px;
                  }

                  .fac__div__title {
                    padding: 0;
                  }

                  .fac__title {
                    padding-bottom: 28px;
                  }

                  .fac__item__link {
                    padding-top: 34px;
                    padding-bottom: 29px;
                  }

                  .fac__item__query {
                    margin-right: 118px;
                  }

                  .footer__colum__right {
                    display: none;
                  }

                  .footer__colum__center {
                    padding-left: 0;
                  }

                  .footer__input {
                    width: 541px;
                    height: 60px;
                  }

                  .footer__conteiner {
                    padding-right: 34px;
                  }

                  .footer__textarea {
                    width: 541px;
                    height: 150px;
                  }

                  .footer__btn {
                    width: 241px;
                    height: 58px;
                  }

                  .hero__conteiner {
                    padding: 10px 40px;
                  }

                  .about__section-wrap-right-text {
                    padding-left: 255px;
                  }
                }

                @media (max-width:1023px) {
                  :root {
                    --pad_gap_14: 11px;
                  }

                  .header__search svg {
                    width: 24px;
                    height: 24px;
                  }

                  .hero__title {
                    font-size: 50px;
                    line-height: 61px;
                    padding-bottom: 16px;
                  }

                  .hero__title-descr {
                    font-size: 18px;
                    line-height: 22px;
                    padding-bottom: 60px;
                  }

                  .hero__text {
                    max-width: 99%;
                    padding: 163px 40px;
                  }

                  .swiper-pagination {
                    margin-bottom: 21px;
                  }

                  .about__conteiner {
                    padding: 8px 0px;
                  }

                  .about__section-wrap-left-bottom {
                    padding: 37px;
                    padding-bottom: 32px;
                  }

                  .about__section-wrap-right-text {
                    max-width: 100%;
                    padding-left: 125px;
                  }

                  .about__section-wrap-right-bottom,
                  .about__section-wrap-right-top {
                    padding: 35px 43px 35px 42px;
                    background-size: 114px 99px;
                    background-position-x: 34px;
                  }

                  .how__steps__one {
                    flex-direction: column-reverse;
                  }

                  .how__conteiner {
                    padding: 6px 0;
                  }
                  /* .how__steps__picture_block{
                    display: flex;
                    flex-direction:row;
                    justify-content: center;
                    align-items: flex-start;
                  } */
                  .how__steps__img {
                    width: 668px;
                    flex-basis: 284px;
                    /* height: 100%; */
                  }

                  .how__steps__item:not(:last-child) {
                    margin-right: 162px;
                  }

                  .how__steps__desr {
                    max-width: 100%;
                  }

                  .how__steps__picture {
                    width: 668px;
                    height: 284px;
                    margin-bottom: 42px;
                  }

                  .how__steps__img {
                    min-width: 100%;
                    min-height: 100%;
                  }

                  .how__steps__desr {
                    padding-right: 0;
                  }

                  .fac__conteiner {
                    padding-left: 0;
                  }

                  .fac__conteiner {
                    margin-top: -36px;
                  }

                  .fac__item__query {
                    margin-right: 47px;
                  }

                  .fac__item__link {
                    padding-top: 34px;
                    padding-bottom: 34px;
                  }

                  .footer__nav {
                    display: none;
                  }

                  .footer__conteiner {
                    flex-direction: column-reverse;
                    padding-top: 80px;
                    padding-left: 40px;
                  }

                  .footer__textarea {
                    margin-bottom: 29px;
                  }

                  .footer__btn__check {
                    margin-bottom: 48px;
                  }

                  .footer__link-logo {
                    padding-bottom: 14px;
                  }
                }

                @media (max-width:767px) {
                  :root {
                    --pad_gap_14: 17px;
                    --gap_left: 15px;
                    --gap_right: 15px;
                    --gap_section_bootom: 30px;
                  }

                  .header__link-logo svg {
                    width: 110px;
                    height: 35px;
                  }

                  .hero__title {
                    font-size: 20px;
                    line-height: 24px;
                    text-align: center;
                    padding-bottom: 8px;
                  }

                  .hero__title-descr {
                    font-size: 12px;
                    line-height: 15px;
                    text-align: center;
                  }

                  .hero__text {
                    padding: 61px 10px;
                    align-items: center;
                  }

                  .swiper-pagination {
                    margin-bottom: 0px;
                  }

                  .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
                  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
                    width: 10px;
                    height: 10px;
                  }

                  .hero__conteiner {
                    margin-bottom: 32px;
                  }

                  .hero__btn {
                    width: 162px;
                    height: 41px;
                    font-size: 12px;
                    line-height: 15px;
                  }

                  .hero__title-descr {
                    padding-bottom: 30px;
                  }

                  .about__title {
                    font-size: 24px;
                    line-height: 29px;
                  }

                  .about__conteiner {
                    margin-top: 0;
                    padding-top: 18px;
                  }

                  .about__title-descr {
                    font-size: 14px;
                    line-height: 28px;
                  }

                  .about__section-wrap-left-descr {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 200%;
                    color: var(--color_black);
                  }

                  .about__section-wrap-left {
                    background-size: contain;
                    flex-basis: 200px;
                    flex-direction: column-reverse;
                    padding-top: 162px;
                  }

                  .about__title-descr {
                    padding-bottom: 14px;
                  }

                  .about__section-wrap-left-bottom {
                    background: none;
                    flex-basis: 100%;
                    padding: 0;
                    padding-top: 48px;
                    flex-direction: column;
                    align-items: flex-start;
                  }

                  .about__section-wrap-right {
                    padding-top: 190px;
                  }

                  .about__section-wrap-left-descr {
                    max-width: 100%;
                    padding-bottom: 11px;
                  }

                  .about__btn {
                    width: 162px;
                    height: 39px;
                    border-radius: 8px;
                    font-weight: 700;
                    font-size: 12px;
                    line-height: 15px;
                    text-align: center;
                    color: #FF9900;
                  }

                  .about__section-wrap-right-top {
                    background: url('../img/about_icon_1.svg');
                    background-repeat: no-repeat;
                    background-position: 0px 2px;
                    background-size: 64px 60px;
                    border: none;
                    padding: 0;
                    padding-top: 70px;
                    margin-bottom: 0;
                  }

                  .about__section__title {

                    padding-bottom: 6px;
                  }

                  .about__section-wrap-right-text {
                    max-width: 100%;
                  }

                  .about__section__title {
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 22px;
                    color: #000000;
                  }

                  .about__section__title-descr {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 200%;
                    color: #000000;
                  }

                  .about__section-wrap-right-bottom {
                    background: url('../img/about_icon_2.svg');
                    background-repeat: no-repeat;
                    background-position: 0px 2px;
                    background-size: 64px 60px;
                    border: none;
                    padding: 0;
                    padding-top: 60px;
                  }

                  .how__title {
                    padding-bottom: 20px;
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 29px;
                    color: #000000;
                  }

                  .how__steps__item:not(:last-child) {
                    margin-right: 44px;
                  }

                  .how__steps__btn {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 17px;
                  }

                  .how__steps__picture {
                    width: 290px;
                    height: 160px;
                    margin-bottom: 15px;
                  }

                  .how__steps__one {
                    align-items: flex-start;
                    max-width: 100%;
                  }

                  .how__steps__list {
                    padding-bottom: 15px;
                  }

                  .how__steps__descr__title {
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 178%;
                  }

                  .how__steps__descr__text {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 200%;
                  }

                  .fac__conteiner {
                    margin-bottom: calc(var(--gap_section_bootom) * 2 - -2px);
                  }

                  .how__btn {
                    width: 166px;
                    height: 44px;
                    margin-right: 10px;
                    border-radius: 8px;
                    font-weight: 700;
                    font-size: 12px;
                    line-height: 15px;
                  }

                  .how__steps__link__offers {
                    width: 118px;
                    height: 39px;
                    border-radius: 8px;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 15px;
                  }

                  .how__conteiner {
                    margin-bottom: 92px;
                  }

                  .fac__title {
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 29px;
                    padding-bottom: 14px;
                  }

                  .fac__item__query {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 171%;
                    margin-right: 15px;
                  }

                  .fac__item__link {
                    padding-top: 31px;
                    padding-bottom: 27px;
                  }

                  .footer__form__title {
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 29px;
                  }

                  .footer__conteiner {
                    padding-top: 37px;
                    padding-left: 15px;
                  }

                  .footer__input {
                    height: 60px;
                    width: 290px;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 229%;
                  }

                  .footer__textarea {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 229%;
                    height: 150px;
                    width: 290px;
                  }

                  .footer__btn {
                    width: 180px;
                    height: 39px;
                    font-weight: 700;
                    font-size: 12px;
                    line-height: 15px;
                    border-radius: 8px;
                    margin-bottom: 12px;
                  }

                  .footer__btn__check {
                    text-align: center;
                    margin-bottom: 32px;
                  }

                  .footer__text {
                    display: block;
                  }

                  .footer__form__title {
                    margin-bottom: 17px;
                  }

                  .footer__textarea {
                    margin-bottom: 21px;
                  }

                  .footer__link-logo svg {
                    width: 131px;
                    height: 42px;
                  }

                  .footer__colum__left {
                    text-align: center;
                    margin-top: -15px;
                  }

                  .footer__link-logo {
                    position: relative;
                  }

                  .footer__link-logo::before {
                    content: "";
                    position: absolute;
                    width: calc(var(--holst) - var(--gap_left) - var(--gap_right) - var(--gap_right));
                    height: 1px;
                    left: 0;
                    top: -30px;
                    background-color: #414141;
                  }

                  .social__link svg {
                    width: 40px;
                    height: 40px;
                  }

                  .social {
                    justify-content: center;
                  }

                  .social__item:not(:last-child) {
                    margin-right: 16px;
                  }

                  .footer__form input {
                    width: 100%;
                  }

                  .footer__textarea {
                    width: 100%;
                  }

                  .about__section-wrap-right-text {
                    padding-left: 0;
                  }
                  .how__steps__img {
                    width: 290px;
                    flex-basis: 160px;
                    /* height: 100%; */
                  }
                  .about__section-wrap-left {
                    background: url('../img/about_img.jpg');
                  }

                  .footer__conteiner {
                    padding-right: 16px;
                  }

                  .footer__text {
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 200%;
                    margin-bottom: 16px;
                  }

                  .footer__textarea {
                    padding-top: 14px;
                  }

                  .hero__conteiner {
                    padding: 12px 14px;
                  }

                  .about__title {
                    padding-bottom: 18px;
                  }
                }
